.outer {
    border: 5px solid black;
}

.box {
    padding: 18px;
    width: calc(90% - 30px);
    background-color: rebeccapurple;
    color: white;
}

body {
    background-color: rgb(239, 208, 213);
}

@media (min-width: 30em) {
    body {
        background-color: rgb(206, 206, 239);
    }
}

div p,
#id:first-line {
    background-color: red;
    border-radius: 3px;
    text-align: center;
}

div p {
    margin: 0;
    padding: 1em;
}

div p+p {
    background-color: aqua;
    padding-top: 100px;
}

h1 {
    color: red;
}

p,
li {
    color: green;
    list-style-type: square;
}

.special {
    color: orange;
    font-weight: bold;
}

li em {
    color: rebeccapurple;
}

h1+p {
    font-size: 200%;
}

a:link {
    color: rgb(201, 192, 255);
    text-decoration: none;
}

a:visited {
    color: rgb(128, 0, 105);
}

a:hover {
    text-decoration: none;
}

body h1+p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}